h1, h2, h3, h4, p {
  font-family: Lato;
}

.slides-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-card {
  display: none;
  background-color: #3C91E6;
  color: #FAFFFD;
  width: 50%;
  padding: 5px 20px;
  margin: 20px;
  box-shadow: 2px 2px 22px 2px #cccccc;
  border-radius: 3px;
}


