h1, h2, h3, h4, p, label {
  font-family: Lato;
}

.header {
  display: flex;
  justify-content: center;
}

textarea, input {
  margin-top: 8px;
  width: 100%;
  border: none;
  background-color: #F1F7FD;
  border-radius: 2px;
  padding: 10px;
}

button {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  float: left;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
  background-color: #0A2A4A;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
}

#clearBtn {
  background-color: #E6593D;
}

#note {
  font-size: 12px;
  font-style: italic;
}

.carousel {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.slides-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-card {
  text-align: center;
  width: 100%;
  background-color: #3C91E6;
  color: #FAFFFD;
  padding: 40px 70px;
  margin: 20px;
  box-shadow: 2px 2px 22px 2px #cccccc;
  border-radius: 3px;
  outline: none;
}

*:focus {
  outline: 0;
}

.answer {
  transition-timing-function: ease-in-out;
}

.rec.rec-arrow {
  color: #0A2A4A;
  background-color: white;
  box-shadow: none;
}

.rec.rec-arrow:hover {
  color: #3C91E6;
  background-color: white;
  box-shadow: none;
}

/* .rec.rec-dot {
  display: none;
} */

.rec.rec-dot {
  width: 1px;
  background-color: darkgrey;
  box-shadow: none;
}

.rec.rec-dot:hover {
  background-color: rgb(85, 85, 85);
}

.rec.rec-dot_active {
  background-color: #0A2A4A;
  box-shadow: 1px 1px 3px 1px rgb(207, 207, 207);
}

.rec.rec-dot_active:hover {
  background-color:#3C91E6;
  box-shadow: 1px 1px 3px 1px rgb(207, 207, 207);
}

